body
{
	background-color:#CCEEEE;
	margin-top: 20px;
}

input
{
	font-family:Arial;
    font-size:12px;
    text-transform:uppercase;
}
textarea
{
	font-family:Arial;
    font-size:12px;
    text-transform:uppercase;
}
.pageContent
{
	width:900px;
    margin: 0 auto;
    font-family:Arial;
    font-size:12px;
    background-color:#FFFFFF;
    border:solid 5px #ffffff;
}

.logo
{
	width: 900px;
	height: 70px;
	background-color:#FFFFFF;
	background-image: url(../Images/logo.png);
	float:left;
}

.menu2
{
	*margin-left:5px;
}
.menu2 td:hover
{
    padding: 0px;
}
.menu3 td:hover
{
	background-color:#334488;
}
.naviButton: hover
{
	font-size:15px;
	background-color:Silver;
	white-space:pre-wrap;
}

.textboxNumber
{
	text-align:right;	
}

.reqIndicator
{
	font-size:20px;
	font-weight:bolder;
}
#login
{
	width:890px;
    float:right;
    text-align:right;
    color:Black;
}
#servertime
{
	float:right;
	font-size:medium;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
}

.logo p 
{ 
	margin-top: 0px;
}


.txtReadOnly
{
	background-color:#ACACAC;
	text-align:right;	
}

.textareaNormal
{
	font-family:Arial;
    font-size:12px;
    text-transform:none;
}

.cell0
{
    border-bottom: 1px solid;
    border-color: #B9B9B9;
}
.cell1
{
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #B9B9B9;
}
.cell2
{
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #B9B9B9;
}