<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ProfileConnectionString" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2};Password={3}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState timeout="10000"/>
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.Web.ASPxGridView.v10.2"/>
        <add assembly="DevExpress.Web.ASPxEditors.v10.2"/>
        <add assembly="DevExpress.Web.v10.2"/>
        <add assembly="DevExpress.Data.v10.2"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v10.2"/>
        <add assembly="DevExpress.PivotGrid.v10.2.Core"/>
        <add assembly="DevExpress.Web.ASPxGridView.v10.2.Export"/>
        <add assembly="DevExpress.XtraPrinting.v10.2"/>
        <add assembly="DevExpress.XtraEditors.v10.2"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <!--<add assembly="DevExpress.Utils.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxGridView.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxGridView.v11.1.Export, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v11.1.Export, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraBars.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraEditors.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPivotGrid.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraRichEdit.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraTreeList.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>-->
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="index.aspx?pr=er"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <identity impersonate="true"/>
  </system.web>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="ReportServer" value="http:///Reportserver"/>
      <add key="ReportFolder" value="/payroll.reports/"/>
      <add key="DatabaseServerName" value=""/>
      <add key="ReportServerUsername" value="dumPWev53hJPQ+lQOTnJwQ=="/>
      <add key="ReportServerPassword" value="dumPWev53hJPQ+lQOTnJwQ=="/>
      <add key="DataSource" value="crXAaF2CH6IWyGixJVQudQ=="/>
      <add key="ProfileDB" value="myewNsGwzotw3mnswW/eVFiVM6CJwIgSSAVAbNwq98M="/>
      <add key="UserID" value="37gMLE4ob9rtrFzKkxi7KQ=="/>
      <add key="Password" value="gleijlCloQn66123XKw7/g=="/>
      <add key="Confidential" value="FALSE"/>
      <add key="ErrorLogFolder" value="C:\ErrorLogs"/>
      <add key="SMTPServer" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="SMTPUsername" value="ELTBf2vOzzJ2uMK19FwcKw=="/>
      <add key="SMTPPassword" value="nHlr+abTiv3EUfj0fwwCVA=="/>
      <add key="notificationCC" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="notificationBCC" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="PROXServer" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="PROXDB" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="PROXUserId" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="PROXPassword" value="RTa6+0UfQGMSJmKZnFYyUQ=="/>
      <add key="ChartImageHandler" value="storage=memory;timeout=20;"/>
      <add key="ERP_DB" value="ERP"/>
      <add key="ADDataSource" value="yYfBflRroFV+iS9U23jIyPRIV+nbzbYiugOiI6q6zds="/>
      <add key="ADMappingDB" value="FcyqfcDw0IGT6yzRMxCsJUXn+DrxQgPk9IXvdl+5JqM="/>
      <add key="ADMappingDBUserID" value="aUCCRX775iuX2W2mf11+GQ=="/>
      <add key="ADMappingDBPassword" value="4pbmH8BdI+3IYIM9REHVPQ=="/>
      <add key="ADDomainName" value="5ahd/hAXUZRjGWgztsSOoA=="/>
      <add key="useActiveDirectory" value="CP6dF164vhyHRma+EmUAZw=="/>
      <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    </appSettings>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule" name="ASPxHttpHandlerModule"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>